# Port used by Vite's local collaboration proxy. This value is not sent to the browser.
SERVER_PORT=3001
# Public HTTPS origin of the deployed Fastify server. This value is compiled
# into the browser bundle. Leave it unset locally to use Vite's proxy.
# VITE_SERVER_ORIGIN=https://YOUR_SERVICE.onrender.com
