{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.html", "*.hbs", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["Makefile", "*.mk"],
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    }
  ]
}
